body{
    background-color: #f6f6f6;
}

.header{
    position: sticky;
    top: 0px;
    background-color: #fff;
    height: 50px;
    color: #8590a6;
    line-height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    z-index: 999;
}
.header img{
    width: 35px;
    margin-bottom: 10px;
}
/*btn toggle*/
.btn_nav{
    position: fixed;
    top: 50px;
}
.btn-cal, .btn-analyze{
    background-color: #fff;
    color: #666;
    line-height: 40px;
    font-size: 15px;
    margin-left: 60px;
    padding-left: 10px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.btn-cal:hover, .btn-analyze:hover{
    cursor: pointer;
}
.btn-cal i, .btn-analyze i{
    margin-right: 10px;
}
.btn-cal{
    margin-top: 40px;
    margin-bottom: 20px;
}

/*panels*/
.cal, .analyze{
    background-color: #fff;
    color: #666;
    font-size: 15px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

/*cal panel*/
.g-cal-cap{
    height: 20px;
    margin-bottom: 10px;
}
.cal-prompt1{
}
#cal-cap-n{
    height: 20px;
    width: 40px;
    margin-right: 10px;
}

#cal-data-permtt-method{
    font-size: 10px;
    color: #666;
    height: 20px;
    width: 50px;
}
.btn-generate-data{
    margin-left: 20px;
    color: #fff;
    font-size: 10px;
    line-height: 6px;
    text-align: center;
    background-color: #f8b528;
    height: 20px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.splitline1{
    height: 3px;
    background-color: #f6f6f6;
    margin-top: 20px;
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 20px;
}

.btn-start-sort{
    margin-left: 20px;
    color: #fff;
    font-size: 10px;
    line-height: 6px;
    text-align: center;
    background-color: #5cb85c;
    height: 20px;
    width: 80px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.show-test-data{
    margin-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.cal-prompt4{
    margin-bottom: 10px;
}

.sort-name, .sort-result{
    padding: 0px;
    color: #8590a6;
    word-break: break-all;
    word-wrap: break-word;
}

.splitline2{
    height: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #f6f6f6;
}

#sort-time{
    width: inherit;
}

/*analyze panel*/
#analyze-max-n{
    height: 20px;
    width: 40px;
    margin-right: 10px;
}
#analyze-data-permtt-method{
    font-size: 10px;
    color: #666;
    height: 20px;
    width: 50px;
}
.btn-start-analyze{
    margin-left: 20px;
    color: #fff;
    font-size: 10px;
    line-height: 6px;
    text-align: center;
    background-color: #4d90fe;
    height: 20px;
    width: 80px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

/*line chart panel*/
.charts_begin{
    margin-top: 20px;
}
#all-sort-compare-times, #all-sort-excahnge-times{
    margin-bottom: 20px;
    height: 300px;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.line-chart{
    margin-top: 20px;
    height: 200px;
    width: 295px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.chart-title{
    font-size: 10px;
    color: #ccc;
    margin-bottom: 20px;
}
th{
    width: 800px;
    height: 50px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}

















